@media (min-width: 760px) and (max-width: 960px){

  /*MENU MOBILE*/

   header .menu{
        display: none;
    }    

    header .btn-menu-mob{
      display: block;
    }


    .btn-menu-mob{
      display: flex;        
         justify-content:flex-end; 
        
        
         cursor: pointer;
    }
    

    
/*MENU NAVEGACAO*/

.mobile-menu-icon{
  display: flex;        
  justify-content:center; 
  margin-left: 90px;
}

.mobile-menu-icon button{
 background-color: transparent;
 border: none;
 cursor: pointer;   
}



   /*HEADER - CABECALHO*/

   li {
 
  margin: 12px;
  color: #616668;
  cursor: pointer; 
  font-size: 18px;
}

/* MAIN - TELA PRINNCIPAL*/

.main-background {
  
  background-image: url(../imagens/layoutFabioOriginal960.png);  
    
}

.main-texto1 {  
  font-size: 18px; 
  padding-bottom: 18px;
}

.main-button { 
  height: 36px;
  width: 380px; 
  font-size: 14px;
 
}

/*MAIN - SEGUNDA SEÇÃO*/


.main-consultoria-primeira {
  text-align: center;  
  padding-top: 10px;
  padding-bottom: 50px;  
}

.texto-cinza {
  color: #616668;  
  font-size: 30px;
  font-family: 'Releway'; 
  height: 70px; 
  padding-top: 40px;
  padding-bottom: 60px;   
  font-weight: 800;      
}

.main-consultoria{
    display: flex;
    flex-direction: column;
    align-items: center;   
    
}

.main-consultoria-descricao1 {
 background-color: #616668; 
  padding-left: 36.24px;
  padding-right: 36.24px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px; 
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 2px 5px 6px rgb(26, 25, 25);   
  
}

.main-textoTituloConsultoria1 {
  color: #f2e8c4;
  border-bottom: 0.1rem solid;  
  height: 110px;
  font-weight: 500;
  font-size: 22px;
  font-family: 'Releway';       
}

.main-textoDescricaoConsultoria1 {
  color: #ffffff; 
  font-weight: 500;
  font-size: 18px;
  font-family: 'Releway';
  padding-top: 15px;  
}

.main-consultoria-descricao2 {
 background-color: #616668; 
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px; 
  box-shadow: 2px 5px 6px rgb(26, 25, 25); 
}

.main-textoTituloConsultoria2 {
  color: #f2e8c4;
  border-bottom: 0.1rem solid; 
  height: 80px;
  font-weight: 500;
  font-size: 22px;
  font-family: 'Releway'; 
}

.main-textoDescricaoConsultoria2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Releway'; 
  padding-top: 15px;  
}

.main-consultoria-descricao3 {
 background-color: #616668; 
  padding-left: 27.88px;
  padding-right: 27.88px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px; 
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 2px 5px 6px rgb(26, 25, 25);   
}

.main-textoTituloConsultoria3 {
  color: #f2e8c4;
  border-bottom: 0.1rem solid; 
  height: 110px;
  font-weight: 500;
  font-size: 22px;
  font-family: 'Releway'; 
  
}
.main-textoDescricaoConsultoria3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Releway'; 
  padding-top: 15px;  
}


/*MAIN - TERCEIRA SEÇÃO*/



.main-consultoria-segunda {
  background-color: #616668;
 
  padding-top: 50px;
  padding-bottom: 50px;
  
  display: flex;
  flex-direction: column;
  
}

.main-textos {

  padding-left: 70px;

}

.texto-dourado {
  color: #f2e8c4;
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 22px;
  font-family: 'Releway';
  text-align: left;
  font-weight: 500;  
}


.main-consultoriaDoisTexto {
  color: #ffffff;
  text-align: left;
  line-height: 1.5;
  font-family: 'Releway'; 
  font-size: 18px;
  font-weight: 200;  
}

.main-consultoriaDois{
  padding-right: 75px;
}


.foto { 
  
  padding-right: 0px;
  margin-right: 114px;
   
  height: 380px;
  width: 290px;
  
}

.foto1{  
  padding-right: 80px;
  margin-top: 10px;
  height: 384px;
  width: 478px; 
  display: none;
}

/*MAIN - COMO FUNCIONA A CONSULTORIA?*/


.main-consultoria-terceira {
  text-align: center; 
  font-family: 'Releway'; 
  padding-top: 50px;
  width: 100%;  
  padding-bottom: 50px;    
}

.texto-cinza1{
  font-family: 'Releway'; 
  color: #616668;  
  font-size: 32px;    
  font-weight: 800;  
  padding-bottom: 40px;
}

.fotoRedonda1{
  border-radius: 100px;
}

.main-consultoriaTres {
  display: flex;
  flex-direction: column;     
}

.diagnostico{
  color:#616668;
  font-family: 'Releway'; 
  font-weight: 600;
  height: 100px;
  font-size: 22px;
  padding-top: 20px;
}

.texto-ConsultoriaTres {
  font-size: 16px;
  line-height: 2;
  font-family: 'Releway'; 
  font-weight: 600; 
}

.main-button1 {
  background-color: #b4361f;
  border: none;
  border-radius: 20px;
  height: 36px;
  width: 280px;
  box-shadow: 2px 5px 6px rgb(26, 25, 25);
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;  
  margin-bottom: 30px;
}

.main-button1:hover {
  background-color: #49261f;
  transition: background-color 0.5s ease;
}

.main-button-link1 {
  color: #f2e8c4;
  text-decoration: none;
}

.main-button2 {
  background-color: #b4361f;
  border: none;
  border-radius: 20px;
  height: 36px;
  width: 280px;
  box-shadow: 2px 5px 6px rgb(26, 25, 25);
  cursor: pointer;
  font-size: 14px;   
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-button2:hover {
  background-color: #49261f;
  transition: background-color 0.5s ease;
}

.main-button-link2 {
  color: #f2e8c4;
  text-decoration: none;
}

.main-button3 {
  background-color: #b4361f;
  border: none;
  border-radius: 20px;
  height: 36px;
  width: 280px;
  box-shadow: 2px 5px 6px rgb(26, 25, 25);
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  
  
}

.main-button3:hover {
  background-color: #49261f;
  transition: background-color 0.5s ease;
}

.main-button-link3 {
  color: #f2e8c4;
  text-decoration: none;
}


/* MAIN - EBOOK GRATIS - 4*/

.main-ebookgratis {
  background-color: #616668;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;     
}

.texto-dourado5 {   
  font-size: 32px;  
}

.main-ebookgratis-fotos2 {
  margin-left: 70px;
}

.main-ebookgratis-texto1 {
  color: #ffffff;  
  font-family:'Releway'; 
  padding-top: 30px;
  padding-bottom: 20px; 
  font-weight: 100; 
  font-size: 14px;
}

.main-ebookgratis-texto1{
  font-size: 22px; 
  font-weight:500;
}


/* MAIN - EBOOK GRATIS - 4*/


.texto-dourado5 {  
  font-size: 30px;  
}

.main-ebookgratis-fotos {
  display: flex;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 40px;
}

.main-ebookgratis-fotos1 {
  margin-right: 70px;  
}

.main-ebookgratis-fotos2 {
  margin-left: 70px;
}

.main-ebookgratis-texto1{
  font-size: 20px; 
  font-weight:500;
}


/* MAIN - CONTATO 5*/

.texto-contato{ 
  font-size: 30px;     
}

.main-texto-whatsapp{   
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 16px;  
}

button {
  height: 35px;
  width: 260px;  
  font-size: 14px; 
  
}


/* MAIN - EBOOK GRATIS - 4*/


/* MAIN - EBOOK GRATIS - 4*/

.main-ebookgratis {
  background-color: #616668;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;     
}

.texto-dourado5 {
  color: #f2e8c4;  
  font-size: 30px;
  font-family: 'Releway';
  font-weight: 800;
  letter-spacing:1.4px;
}

.main-ebookgratis-fotos {
  display: flex;
  justify-content: center; 

  padding-top: 20px;
  padding-bottom: 40px;
}

.main-ebookgratis-fotos1 {
  margin-right: 10px   
}

.main-ebookgratis-fotos2 {
  margin-left: 10px;
}

.main-ebookgratis-texto1 {
  color: #ffffff;  
  font-family:'Releway'; 
  padding-top: 30px;
  padding-bottom: 20px; 
  font-weight: 100; 
  font-size: 16px;
}


/* MAIN - CONTATO 5*/

.main-contato{ 
  background-color:#d9d9d9;     
  height: 620px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.texto-contato{
  font-family: 'Releway'; 
  color: #616668;  
  text-align: center;
  font-size: 26px;    
  font-weight: 800;
  
  padding-bottom: 40px;
}

.main-contato-estrutura1 {
  display: flex;  
  justify-content:center;
  padding-top: 20px;    
  text-align: center;  
}

.main-botao-whatsapp{
  margin-right: 0px;
}

.main-texto-whatsapp{  
  color:#616668 ;
  font-size: 20px;
  font-family: 'Releway'; 
  margin-bottom: 10px;
  margin-top: 16px;
  
}

.texto-contato1{
   font-family:'Pier';
  font-size: 16px;
  color: #616668;
  margin: 10px;
  
}
.whatsapp1:hover {  
  transform: scale(1.25);
  transition-duration: 0.5s;
  filter: brightness(0) saturate(100%) invert(26%) sepia(89%) saturate(1204%) hue-rotate(341deg) brightness(90%) contrast(99%);
}


form {
  width: 450px;
  margin-left: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;  
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Inclui padding e border no tamanho do elemento */
  outline: none;
}

button {
  background-color: #b4361f;
  border: none;
  border-radius: 20px;
  height: 36px;
  width: 280px;
  box-shadow: 2px 5px 6px rgb(26, 25, 25);
  cursor: pointer;
  font-size: 14px;
  color: #f2e8c4;
  
}

button:hover {
   background-color: #49261f;
  transition: background-color 0.5s ease;
}


/*PAGINA CONSULTORIA.HTML - MAIN*/

.main-consultoria-principal {
  background-color:#616668;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.main-consultoria-h2 {
  font-family:'Releway';
  font-size: 36px;
  padding-left: 10px;
  padding-right: 10px;
}

/*PAGINA CONSULTORIA.HTML - MAIN - 1 TEXTO CONTEUDO*/

.main-consultoria-conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;     

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.main-consultoria-conteudo-texto1{
  font-family:'Releway';
  font-size: 26px;
  color:#616668 ;  
}

.main-consultoria-conteudo-texto2{
  margin-top: 20px;
}

.main-consultoria-h4{
  font-family:'Releway';
  font-size: 18px;
  text-align: center;
}

/*PAGINA CONSULTORIA.HTML - MAIN - 2 TEXTO CONTEUDO E IMAGEM*/


.main-consultoria-secundaria{
  background-color: #616668;

  display: flex;
  flex-direction: column;
  align-items: center;   
    
  
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.main-consultoria-secundaria-foto{
  margin-right: 40px;
  margin-top: 0;  
}

.consultoria1{
  width: 405px;
}

.main-consultoria-secundaria-textos{
  margin-left: 0px;
  margin-top: 30px;
  
}

.main-consultoria-h3{
  font-family:'Releway';
  font-size: 26px;    
  color:#f2e8c4;
  padding-bottom: 30px;
 
}

.main-consultoria-h4-2{
  font-family:'Releway';
  font-size: 18px;
  color:#ffffff;
  font-weight: 100;  
}

/*PAGINA CONSULTORIA.HTML - MAIN - 3 TEXTO CONTEUDO E IMAGEM*/

.main-consultoria-secundaria-dois{
  display: flex;
  flex-direction: column;
  align-items: center;  

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px; 
}

.main-consultoria-secundaria-textos-dois{
  margin-right: 0px;
  margin-top: 0px;
}

.main-consultoria-h3-dois{
  font-family:'Releway';
  font-size: 26px;    
  color:#616668;
  margin-bottom: 30px;
  margin-left: 10px;
}

.main-consultoria-h4-3{
  font-family:'Releway';
  font-size: 18px;

  font-weight: 600;  
  margin-top: 10px;
  margin-left: 10px;
}

.consultoria2{
  width: 405px;
}

.main-consultoria-secundaria-foto2{
  margin-right: 85px;
  margin-top: 30px; 
}

/*PAGINA CONSULTORIA.HTML - MAIN - 4 TEXTO CONTEUDO E IMAGEM*/

.main-consultoria-secundaria-tres{
  background-color: #616668;

  display: flex;
  flex-direction: column;
  align-items: center;  ;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.consultoria3{
  width: 405px;
}


.main-consultoria-secundaria-foto3{
  margin-right: 10px;
  margin-top:50px;
 
}

.main-consultoria-secundaria-textos-tres{
  margin-left: 40px;
  margin-top: 30px;
}

.main-consultoria-h3-tres{
  font-family:'Releway';
  font-size: 26px;    
  color:#f2e8c4;
  margin-bottom: 30px;
}

.main-consultoria-h4-4{
  font-family:'Releway';
  font-size: 18px;

  font-weight: 100;  
  margin-top: 10px;

  color: #ffffff;

}

/*PAGINA CONSULTORIA.HTML - MAIN - 5 TEXTO CONTEUDO E IMAGEM*/

.main-consultoria-secundaria-quatro{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 150px;   
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.main-consultoria-secundaria-textos-quatro{
  margin-left: 40px;
  padding-top: 20px;
}

.main-consultoria-h3-quatro{
  font-family:'Releway';
  font-size: 22px;    
  color:#616668;
  margin-bottom: 30px;
  text-align: center;
}

.main-button4 {
  background-color: #b4361f;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 260px;
  box-shadow: 2px 5px 6px rgb(26, 25, 25);
  font-size: 16px;
  cursor: pointer;
  
}



}